language: python
sudo: false
addons:
  apt:
    packages:
      # Only used by the DISTRIB="ubuntu" setting
      - python-numpy
virtualenv:
  system_site_packages: true
env:
  matrix:
    - DISTRIB="ubuntu" PYTHON_VERSION="2.7"
    # This environment tests the oldest supported anaconda env
    - DISTRIB="conda" PYTHON_VERSION="2.7" NUMPY_VERSION="1.11.1"
    - DISTRIB="conda" PYTHON_VERSION="3.4" NUMPY_VERSION="1.11.1"
    - DISTRIB="conda" PYTHON_VERSION="3.6" NUMPY_VERSION="1.13.1"
install: source continuous_integration/install.sh
cache: apt
script: nosetests && test/test_script.sh
