version: 2

references:

  ci_steps: &ci_steps
    working_directory: /work
    steps:
      - checkout
      - run:
          name: Run CI
          command: |
            #
            # Set UPLOAD_SDIST environment variable
            #
            export UPLOAD_SDIST=$(echo ${CIRCLE_JOB} | cut -d"_" -f3)
            echo "UPLOAD_SDIST [${UPLOAD_SDIST}]"
            #
            # Run CI
            #
            export MANYLINUX_PYTHON=$(echo ${CIRCLE_JOB} | cut -d"_" -f2)
            echo "MANYLINUX_PYTHON [${MANYLINUX_PYTHON}]"
            /opt/python/${MANYLINUX_PYTHON}/bin/pip install scikit-ci
            /opt/python/${MANYLINUX_PYTHON}/bin/ci
      - persist_to_workspace:
          root: ./
          paths:
            - dist

  x64_build_job: &x64_build_job
    docker:
      - image: dockcross/manylinux1-x64
    <<: *ci_steps

  x86_build_job: &x86_build_job
    docker:
      - image: dockcross/manylinux1-x86
    <<: *ci_steps

  deploy_website_command: &deploy_website_command
    name: Deploy website
    command: |
      source_sha=$(cat doc/_build/html/.buildinfo | grep sha | cut -d: -f2)
      repo_slug=$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME
      doc/deploy-website.sh $repo_slug $source_sha --html-dir doc/_build/html

  no_filters: &no_filters
    filters:
      tags:
        only: /.*/

jobs:

  # x64
  manylinux-x64_cp27-cp27m:
    <<: *x64_build_job
  manylinux-x64_cp27-cp27mu:
    <<: *x64_build_job
  manylinux-x64_cp36-cp36m_upload-sdist:
    <<: *x64_build_job
  manylinux-x64_cp37-cp37m:
    <<: *x64_build_job
  manylinux-x64_cp38-cp38:
    <<: *x64_build_job
  manylinux-x64_cp39-cp39:
    <<: *x64_build_job

  # x86
  #manylinux-x86_cp27-cp27m:
  #  <<: *x86_build_job
  #manylinux-x86_cp27-cp27mu:
  #  <<: *x86_build_job
  #manylinux-x86_cp36-cp36m:
  #  <<: *x86_build_job
  #manylinux-x86_cp37-cp37m:
  #  <<: *x86_build_job
  #manylinux-x86_cp38-cp38:
  #  <<: *x86_build_job

  build-website_cp37-cp37m:
    docker:
      - image: circleci/python:3.7.0-stretch
    steps:
    - checkout
    - attach_workspace:
        at: ./
    - run:
        name: Build website
        command: |
          export MANYLINUX_PYTHON=$(echo ${CIRCLE_JOB} | cut -d"_" -f2)
          echo "MANYLINUX_PYTHON [${MANYLINUX_PYTHON}]"
          python -m venv ../venv
          . ../venv/bin/activate
          pip install ./dist/*${MANYLINUX_PYTHON}*x86_64.whl
          doc/build-website.sh
    - persist_to_workspace:
        root: ./
        paths:
          - doc/_build/html

  deploy-master:
    docker:
      - image: circleci/python:3.7.0-stretch
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run:
          name: Deploy master
          command: |
            echo "Deploy master (not implemented)"
      - run:
          <<: *deploy_website_command

  deploy-release:
    docker:
      - image: circleci/python:3.7.0-stretch
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run:
          name: Deploy release
          command: |
            echo "Deploy release"
            python -m venv ../venv
            . ../venv/bin/activate
            pip install twine
            ls dist
            twine upload -u $PYPI_USER -p $PYPI_PASSWORD --skip-existing dist/*
      - run:
          <<: *deploy_website_command

workflows:
  version: 2
  build-test-deploy:
    jobs:
      # x64
      - manylinux-x64_cp27-cp27m:
          <<: *no_filters
      - manylinux-x64_cp27-cp27mu:
          <<: *no_filters
      - manylinux-x64_cp36-cp36m_upload-sdist:
          <<: *no_filters
      - manylinux-x64_cp37-cp37m:
          <<: *no_filters
      - manylinux-x64_cp38-cp38:
          <<: *no_filters
      - manylinux-x64_cp39-cp39:
          <<: *no_filters
      # x86
      #- manylinux-x86_cp27-cp27m:
      #    <<: *no_filters
      #- manylinux-x86_cp27-cp27mu:
      #    <<: *no_filters
      #- manylinux-x86_cp36-cp36m:
      #    <<: *no_filters
      #- manylinux-x86_cp37-cp37m:
      #    <<: *no_filters
      #- manylinux-x86_cp38-cp38:
      #    <<: *no_filters

      - build-website_cp37-cp37m:
          requires:
            - manylinux-x64_cp37-cp37m
          <<: *no_filters

      - deploy-master:
          requires:
            # x64
            - manylinux-x64_cp27-cp27m
            - manylinux-x64_cp27-cp27mu
            - manylinux-x64_cp36-cp36m_upload-sdist
            - manylinux-x64_cp37-cp37m
            - manylinux-x64_cp38-cp38
            - manylinux-x64_cp39-cp39

            # x86
            #- manylinux-x86_cp27-cp27m
            #- manylinux-x86_cp27-cp27mu
            #- manylinux-x86_cp36-cp36m
            #- manylinux-x86_cp37-cp37m
            #- manylinux-x86_cp38-cp38
            # misc
            - build-website_cp37-cp37m
          filters:
            branches:
              only: master
      - deploy-release:
          requires:
            # x64
            - manylinux-x64_cp27-cp27m
            - manylinux-x64_cp27-cp27mu
            - manylinux-x64_cp36-cp36m_upload-sdist
            - manylinux-x64_cp37-cp37m
            - manylinux-x64_cp38-cp38
            - manylinux-x64_cp39-cp39

            # x86
            #- manylinux-x86_cp27-cp27m
            #- manylinux-x86_cp27-cp27mu
            #- manylinux-x86_cp36-cp36m
            #- manylinux-x86_cp37-cp37m
            #- manylinux-x86_cp38-cp38
            # misc
            - build-website_cp37-cp37m
          filters:
            tags:
              only: /^[0-9]+(\.[0-9]+)*(\.post[0-9]+)?$/
            branches:
              ignore: /.*/
