numpydoc
imageio
sphinx
sphinx_rtd_theme
sphinx_gallery
sphinx-argparse
sphinx-issues

#
# Example requirements
#

# all examples
matplotlib

# frequency example
multidict

# wordcloud_cn example
jieba
scipy

# arabic example
python-bidi
arabic_reshaper
